In [1]:
import pandas as pd
import gzip
import json

In [2]:
import os
import sys
from pathlib import Path
 
path = Path(os.path.dirname(os.getcwd()))
path = str(path)
print(path)
sys.path.insert(1, path)

/Users/swethakandikonda/Downloads/SET PROJECT/Amazon-Product-Recommendation-System

In [7]:
def parse(path):
  g = gzip.open(path, 'rb')
  for l in g:
    yield json.loads(l)

def getDF(path):
  i = 0
  df = {}
  for d in parse(path):
    df[i] = d
    i += 1
  return pd.DataFrame.from_dict(df, orient='index')

In [26]:
review_df = getDF(f'{path}/data/AMAZON_FASHION.json.gz')
review_df = review_df.rename({'overall':'rating'},axis = 1).copy()
review_df.head()

,rating,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2.0,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3,NaN,NaN
2,4.0,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2.0,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3.0,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN

In [10]:
review_df.shape

(883636, 12)

In [14]:
review_df.isna().sum()

overall                0
verified               0
reviewTime             0
reviewerID             0
asin                   0
reviewerName          92
reviewText          1233
summary              533
unixReviewTime         0
vote              803736
style             579067
image             854829
dtype: int64

In [28]:
review_df = review_df.drop_duplicates(subset = ['reviewerID','asin','rating']).copy()

In [38]:
temp = pd.DataFrame(review_df['reviewerID'].value_counts())
temp

                count
reviewerID
A3G5KDMFNRUXHB     40
A3JBQHQZEZPQK4     36
A1RRX286ZRI830     32
A2PBHVTPTIIGKR     31
A2GP4EJIAA2OE0     29
...               ...
AUGWSRMHSMPS1       1
AL2THLXHWXH3U       1
A3W3A95FSSEY1O      1
A3FQXVACIRCRFJ      1
A2RSX9E79DUHRX      1

[749233 rows x 1 columns]

In [54]:
temp.describe(percentiles = [0.25,0.5,0.75,0.85,0.88,0.98,0.995,0.999])

               count
count  749233.000000
mean        1.168273
std         0.589016
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
85%         1.000000
88%         2.000000
98%         3.000000
99.5%       4.000000
99.9%       8.000000
max        40.000000

In [55]:
review_df

,rating,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,5.0,True,"10 20, 2014",A1D4G1SNUZWQOT,7106116521,Tracy,Exactly what I needed.,perfect replacements!!,1413763200,NaN,NaN,NaN
1,2.0,True,"09 28, 2014",A3DDWDH9PX2YX2,7106116521,Sonja Lau,"I agree with the other review, the opening is ...","I agree with the other review, the opening is ...",1411862400,3,NaN,NaN
2,4.0,False,"08 25, 2014",A2MWC41EW7XL15,7106116521,Kathleen,Love these... I am going to order another pack...,My New 'Friends' !!,1408924800,NaN,NaN,NaN
3,2.0,True,"08 24, 2014",A2UH2QQ275NV45,7106116521,Jodi Stoner,too tiny an opening,Two Stars,1408838400,NaN,NaN,NaN
4,3.0,False,"07 27, 2014",A89F3LQADZBS5,7106116521,Alexander D.,Okay,Three Stars,1406419200,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
883631,5.0,True,"02 21, 2017",A1ZSB2Q144UTEY,B01HJHTH5U,Amazon Customer,I absolutely love this dress!! It's sexy and ...,I absolutely love this dress,1487635200,NaN,NaN,NaN
883632,5.0,True,"11 25, 2016",A2CCDV0J5VB6F2,B01HJHTH5U,Amazon Customer,I'm 5'6 175lbs. I'm on the tall side. I wear a...,I wear a large and ordered a large and it stil...,1480032000,2,NaN,NaN
883633,3.0,True,"11 10, 2016",A3O90PACS7B61K,B01HJHTH5U,Fabfifty,Too big in the chest area!,Three Stars,1478736000,NaN,NaN,NaN
883634,3.0,True,"11 10, 2016",A2HO94I89U3LNH,B01HJHF97K,Mgomez,"Too clear in the back, needs lining",Three Stars,1478736000,NaN,NaN,NaN
883635,5.0,True,"08 9, 2016",A2RSX9E79DUHRX,B01HJG5NMW,Natasha Mascarenhas,Ordered and was slightly small. Worked with th...,The quality is excellent and it is so cute,1470700800,NaN,NaN,NaN